backend:
  name: github
  repo: zev6pointk/dhudean-s-blog
  branch: master
  app_id: Ov23liTwDbzMad0X1EcO
  site_domain: dhudean-s-blog.pages.dev

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

publish_mode: editorial_workflow

collections:
  - name: "blog"
    label: "博客文章"
    folder: "content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "标题", name: "title", widget: "string"}
      - {label: "发布日期", name: "date", widget: "datetime"}
      - {label: "草稿", name: "draft", widget: "boolean", default: true}
      - {label: "标签", name: "tags", widget: "list"}
      - {label: "正文", name: "body", widget: "markdown"}

  - name: "pages"
    label: "页面"
    folder: "content"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "标题", name: "title", widget: "string"}
      - {label: "内容", name: "body", widget: "markdown"}
